*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    border: none;
}

.container{
    align-items: center;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    gap: 30px;
    height: 60px;
}

.menuBttn{
    height: 40px;
    font-size: 15px;background-color: black;
    color: white;
    border: none;
}

.menuBttn:hover{
    color: #F6BE28
}

.aba{
    display: none;
}

.aba.ativa{
    display: block;
}

.cabeçalho{
    background-color: #F6BE28;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabeçalho img{
    height: 300px;
}

.cabeçalho h1{
    font-size: 50px;
}